<div>
  <h2>Orders Between Dates</h2>
  <ul>
    <li *ngFor="let order of orders">
      {{ order.id }} - {{ order.date | date }} - {{ order.total | currency:'USD':'symbol':'1.2-2' }}
    </li>
  </ul>
  <select [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
      <option value="" disabled>Select a Category</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
    </select>
    
    <div *ngIf="topProducts.length > 0">
      <h2>Top 5 Selling Products for Category: {{ selectedCategoryName }}</h2>
      <div class="product-list">
        <mat-card *ngFor="let product of topProducts"
                  class="product-card"
                  [@zoomIn]="product['zoomState']"
                  (mouseenter)="onMouseEnter(product)"
                  (mouseleave)="onMouseLeave(product)">
          <mat-card-header>
            <mat-card-title>{{ product.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Price: {{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
            <p>Total Sales Quantity: {{ product.totalSalesQuantity }}</p>
            <p>Total Revenue: {{ product.totalRevenue | currency:'USD':'symbol':'1.2-2' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="topProducts.length === 0 && selectedCategoryId">
      <p>No products found for this category.</p>
    </div>
    <div *ngIf="!selectedCategoryId">
      <p>Please select a category to view top selling products.</p>
    </div>
</div>
<div>
  <input type="date" [(ngModel)]="startDate">
  <input type="date" [(ngModel)]="endDate">
  <button (click)="getOrdersBetweenDates()">Get Orders</button>

  <div *ngIf="orders">
    <p>Total Orders: {{ orders.length }}</p>
    <p>Total Amount: {{ totalAmount }}</p>
  </div>
</div>
<div>

<div>
  <h2>Most Sold Products</h2>
  <div>
    <label for="month">Select Month:</label>
    <select id="month" [(ngModel)]="selectedMonth">
      <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
    </select>
  </div>
  <div>
    <label for="year">Select Year:</label>
    <select id="year" [(ngModel)]="selectedYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>
  <button (click)="loadMostSoldProducts()">Load Most Sold Products</button>
</div>
<div>
  <p-chart type="line" [data]="data" [options]="options"></p-chart>

</div>