<div *ngFor="let competitionPerformance of competitionPerformances">
  <h3>{{ competitionPerformance.compname }}</h3>
  <p>Start Date: {{ competitionPerformance.startdate | date:'shortDate' }}</p>
  <p>End Date: {{ competitionPerformance.enddate | date:'shortDate' }}</p>

  <ul class="performances-list">
    <button mat-button (click)="openDialog()" class="ticket-button">
      <mat-icon>confirmation_number</mat-icon> <!-- Vous pouvez changer l'icône ici -->
    </button>
    
    
    <li *ngFor="let performance of competitionPerformance.performances" class="performance-item">
      <h4>{{ performance.perftitle }}</h4>
      <p>Performance Date: {{ performance.perfdate | date:'shortDate' }}</p>
      <p>Description: {{ performance.pdescreption }}</p>
      <p>Start Time: {{ performance.starttime }}</p>
      <p>End Time: {{ performance.endtime }}</p>
      

    </li>
  </ul>
</div>




