<div class="container">
  <h2>Add Performance</h2>
  <form [formGroup]="performanceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="compId">Competition</label>
      <select class="form-control" id="compId" formControlName="compId" (change)="onCompetitionSelected($event)">
        <option *ngFor="let competition of competitions$ | async" [value]="competition.idcomp">{{ competition.compname }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="teamId">Team</label>
      <select class="form-control" id="teamId" formControlName="teamId" (change)="onTeamSelected($event)">
        <option *ngFor="let team of teams$ | async" [value]="team.idteam">{{ team.teamname }}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="perfdate">Performance Date</label>
      <input type="date" class="form-control" formControlName="perfdate" id="perfdate">
    </div>

    <div class="form-group">
      <label for="starttime">Start Time</label>
      <input type="time" class="form-control" formControlName="starttime" id="starttime">
    </div>

    <div class="form-group">
      <label for="endtime">End Time</label>
      <input type="time" class="form-control" formControlName="endtime" id="endtime">
    </div>

    <div class="form-group">
      <label for="perftitle">Performance Title</label>
      <input type="text" class="form-control" formControlName="perftitle" id="perftitle">
    </div>

    <div class="form-group">
      <label for="pdescreption">Description</label>
      <textarea class="form-control" formControlName="pdescreption" id="pdescreption"></textarea>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
