<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="over" position="start" opened="false">
    </mat-sidenav>
  
    <mat-sidenav-content class="main-content">
      <div class="body">
        <div class="theater-container">
          <!-- Screen Direction -->
          <div class="screen-direction">
            <div class="screen">Écran</div>
            <div class="screen-bar"></div>
          </div>
  
          <div *ngFor="let row of seatNumbersByRow | keyvalue; trackBy: trackByRow" class="seat-row">
            <div class="seat-row-label">{{ row.key }}</div>
            <div class="seat-row-seats">
                <div *ngFor="let seat of row.value" class="seat"
                [ngClass]="{
                  'never-booked': seat.status === 'never-booked',
                  'booked-once': seat.status === 'booked-once',
                  'booked-more-than-once': seat.status === 'booked-more-than-once'
                }">
             <mat-icon>event_seat</mat-icon>
             <span class="seat-number">{{ seat.seatNumber }}</span>
           </div>
           
            </div>
          </div>
  
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  