<!-- competition-teams.component.html -->
<div *ngIf="competitionTeams" class="competition-container">
  <h2>competition with teams</h2>
  <div *ngFor="let competition of competitionTeams | keyvalue" class="competition-card">
    <div class="competition-header">
      <h3 class="competition-name">{{ competition.key }}</h3>
      <span class="teams-count">{{ competition.value.length }} team(s)</span>
    </div>
    <ul class="teams-list">
      <li *ngFor="let team of competition.value" class="team">{{ team }}</li>
    </ul>
  </div>
</div>
