

<p-tabMenu [model]="items"></p-tabMenu>
<div class="col-12">
  <div class="card mb-3 mx-auto text-center" style="width: 800px; height: 150px;">



    <div class="row g-0">

      <p-toast></p-toast>
      <p-dataView #dv [value]="myPosts"  [paginator]="true" [rows]="4" layout="grid">
        <ng-template pTemplate="header">
          <div class="flex align-items-center">

            <button type="button" class="btn btn-outline-primary" (click)="newPost={};
                    submitted=false;addNewPostDialog=true;updateOption=false">Add New Post</button>
          </div>
        </ng-template>
        <ng-template let-Post pTemplate="gridItem">
          <div class="col-12 md:col-4 mt-2 px-2">
            <div class="card mb-3 mx-auto text-center" style="width: 800px;">
              <div class="card-body" style="background-color: #181717c3; position: relative;">
                <div class="col-md-8">
                  <h2><span class="card-body" style="color: white;">{{Post.title}}</span></h2>
                </div>
                <div class="card-body">
                  <div class="col-md-8">
                    <div class="col-md-8">
                      <span class="card-body" style="color: white;">{{Post.description}}</span>
                    </div>
                    <b><span class="card-body" style="color: white;">Utilisateur : {{Post.userName}}</span></b>
                  </div>
                  <div class="col-md-8">
                    <b><span class="card-body" style="color: white;">Date de création : {{Post.creationDate | date :'medium'}}</span></b>
                  </div>
                </div>
                <div class="col-md-4" style="position: absolute; top: 0; right: 0; bottom: 0;">
                  <img [src]="src2+Post.id" alt="Post Image" class="img-fluid rounded-start post-image" />
                </div>
                <div class="flex align-items-center justify-content-start mt-2" style="position: absolute; bottom: 0; left: 0; z-index: 1;">


                <button type="button" class="btn btn-outline-info" (click)="showComments(Post.comments)">Show Comments</button>

                <button type="button" class="btn btn-outline-success" (click)="addComment(Post.id)">Add Comment </button><br>

                <button type="button" class="btn btn-outline-danger" (click)="deletePost(Post.id)">Delete</button>

                <button type="button" class="btn btn-outline-warning" (click)="updatePost(Post)">Update</button>
              </div>
                <div>
                  <p-fileUpload mode="basic" name="image" chooseLabel="Add Image" accept="image/*" (onUpload)="onUpload(Post.id)" (onError)="errorUplodingImgae()" [auto]="true" [url]="path+Post.id"></p-fileUpload>
                </div>

            </div>
          </div>
          </div>
        </ng-template>
      </p-dataView>

      <p-dialog [(visible)]="addNewPostDialog" [style]="{width: '450px'}" header="Post Details" [closable]="false" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <div class="field">
            <label>Title</label>
            <input type="text" pInputText [(ngModel)]="newPost.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newPost.title}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newPost.title">Title is required.</small>
          </div>
          <div class="field">
            <label>Description</label>
            <textarea pInputTextarea rows="3" cols="20" [(ngModel)]="newPost.description"  rows="3" cols="20"></textarea>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="addNewPostDialog=false;myPost()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check"  class="p-button-text" (click)="updateOption==true?update():createNewPost()"></button>
        </ng-template>
      </p-dialog>


      <p-dialog [(visible)]="descriptionDialog" header="Description" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <span style="font-weight: bold">{{description}}</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Close" (click)="descriptionDialog = false"></button>
        </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="commentsDialog" [style]="{width: '600px'}" header="Comments" [closable]="false" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <div *ngIf="comments.length > 0">
            <div class="card mb-0" style="height: 550px">
              <div class="mt-3 ml-2" style="height: 450px;overflow-y: auto;">
                <ul class="p-0 mx-0 mt-0 mb-4 list-none"   *ngFor="let y of comments">
                  <li  class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                      <span>{{y.userName}}</span>
                    </div>
                    <span class="text-900 line-height-3">{{y.text}}
                      <span class="text-blue-500">{{y.creationDate |date:'dd-MM-yyyy'}}</span>
                </span>
                    <span class="text-red-500  ml-3" (click)="deleteComment(y.id!)">delete</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Close" icon="pi pi-times" class="p-button-text" (click)="commentsDialog=false"></button>
        </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="addCommentDialog" [style]="{width: '450px'}" header="Comment Details" [closable]="false" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
          <div class="field">
            <label>Text</label>
            <input type="text" pInputText [(ngModel)]="newComment.text" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newComment.text}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newComment.text">Text is required.</small>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="addCommentDialog=false"></button>
          <button pButton pRipple label="Save" icon="pi pi-check"  class="p-button-text" (click)="createComment()"></button>
        </ng-template>
      </p-dialog>


      <p-dialog [(visible)]="deletePostDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>Are you sure you want to delete this post ?</span>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePostDialog = false"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
        </ng-template>
      </p-dialog>


    </div>
    <div class="col-6">
      <div class="card graph-card">
        <div class="card-header">
          <h5 class="card-title">Réaction Analysis</h5>
        </div>
        <div class="card-body">
          <div class="flex justify-content-center">
            <p-chart type="doughnut" [data]="data" [options]="optionsChart" class="graph"></p-chart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

