<div id="downloadableContent">
<div *ngIf="ticketCardDetails; else loadingOrError">
    <h2>Ticket Card Details</h2>
    <div>
      <h3>User: {{ userName }}</h3> <!-- Displaying the user's name fetched from getPrincipal -->
      <p>Total: {{ ticketCardDetails.total | currency }}</p>
      <p>Date: {{ ticketCardDetails.date | date:'medium' }}</p>
      <div *ngFor="let ticket of ticketCardDetails.tickets">
        <h4>Ticket Reference: {{ ticket.refTicket }}</h4>
        <p>Expiration Date: {{ ticket.expireDate | date:'mediumDate' }}</p>
        <p>Seat Number: {{ ticket.places }}</p>
        <p>Row: {{ ticket.places?.row }}</p>
        <img [src]="ticket.qrCodeBase64" alt="QR Code for the ticket" style="width: 100px; height: 100px;">
      </div>
    </div>
  </div>
  
  <ng-template #loadingOrError>
    <p>Loading ticket card details...</p>
  </ng-template>
</div>
<button (click)="downloadAsPDF()">Download as PDF</button>